@import url(http://nicholastodor.com/sf/usesf.css);

body {
	background: #181817;
}

::selection {
	color: #CCCCCC;
	background: #8B8B8B;
}

::-moz-selection {
	color: #CCCCCC;
	background: #8B8B8B; 
}

a {
	text-decoration: none;

	opacity: 1.0;
	-o-transition: .25s ease-in-out;
	-ms-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-webkit-transition: .25s ease-in-out;
	transition: .25s;
}

a:hover {
	text-decoration: inherit;
	opacity: 0.5;
}

a:visited {
	color: inherit;
}

.profile {
	font-family: 'San Francisco Text', "HelveticaNeue", HelveticaNeue, Helvetica, Arial, sans-serif;
	font-size: 17px;
	text-align: left;
	color: white;

	position: fixed;
	top: 20px;
	left: 50px;
	bottom: 10px;
	width: 200px;
}

img.avatar {
	width: 150px;
	height: 150px;
	border-radius: 50%;
}

.biography {
	font-family: 'San Francisco Display', "HelveticaNeue", HelveticaNeue, Helvetica, Arial, sans-serif;
	font-size: 18px;
	text-align: justify;
	color: #E0DFDA;

	position: fixed;
	top: 0px;
	right: 2px;
	left: 260px;

	padding-right: 50px;

	max-height: 100%;
	overflow: scroll;
}

.biography a {
	color: #6E97EC;
}

