body {
	font-family: 'Roboto', "HelveticaNeue", HelveticaNeue, Helvetica, Arial, sans-serif;
	font-weight: 400;
	background: #181817;
	display: block;
}

::selection {
	color: #CCCCCC;
	background: #8B8B8B;
}

::-moz-selection {
	color: #CCCCCC;
	background: #8B8B8B; 
}

img.avatar {
	width: 150px;
	height: 150px;
	border-radius: 50%;
}

img.icon {
	width: 70px;
	height: 70px;
	border-radius: 10px;
	margin-left: 10px;
	margin-right: 10px;
	opacity: 0.8;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: inherit;
	opacity: 0.7;
}

a:visited {
	color: inherit;
}

p.footer {
	margin-top: 20px;
	opacity: 0.5;
	color: #8F908A;
	font-size: 10px;
}

p.footer a {
	color: inherit;
}

h1 {
	font-size: 22px;
	text-align: 500;
	opacity: 1.0;
}

h2 {
	font-size: 18px;
	font-weight: 300;
	opacity: 1.0;
}

h2.fixmargin {
	margin-top: -10px;
}

h3 {
	font-size: 19px;
	font-weight: 600;	
}

.profile {
	font-size: 17px;
	text-align: left;
	color: #D8D8D8;

	opacity: 0.8;

	position: absolute;
	top: 20px;
	left: 50px;
	bottom: 10px;
	width: 200px;
}

.biography-container {
	position: absolute;
	left: 260px;
	top: 0px;
	right: 0px;
	bottom: 0px;

	min-width: 600px;
}

.biography {
	font-weight: 400;
	font-family: "Open Sans", HelveticaNeue, "HelveticaNeue", Helvetica, Arial, sans-serif;
	font-size: 18px;
	color: #E0DFDA;

	text-align: justify;
	text-justify: newspaper;
	hyphens: auto;
	
	padding-right: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 20px;

	min-width: 360px;	
}

.biography a {
	color: #6E97EC;
}

.biography p {
	opacity: 0.9;
}
