body {
	background: #2E3031;
}

::selection {
	color: #F1F1F1;
	background: #0080FF;
}

::-moz-selection {
	color: #F1F1F1;
	background: #0080FF; 
}

a {
	color: #6E97EC;
	text-decoration: none;

	-webkit-transition-property: opacity;
	-webkit-transition-duration: 0.25s;
	-webkit-transition-timing-function: ease-in-out;

	-moz-transition-property: opacity;
	-moz-transition-duration: 0.25s;
	-moz-transition-timing-function: ease-in-out;

	-o-transition-property: opacity;
	-o-transition-duration: 0.25s;
	-o-transition-timing-function: ease-in-out;
}

a:hover {
	text-decoration: underline;
}

.topbox {
	font-size: 25px;
	text-align: center;
	color: #CFCFCF;

	width: 600px;
	margin: auto;
	position: relative;

	top: 90px;
	left: 0px;
	bottom: 0px;
	right: 0px;
}

.topbox-column-left {
	font-family: "HelveticaNeue", "HelveticaNeue", Helvetica, Arial, sans-serif;
	text-align: right;

	float: left;
	margin-top: 50px;
}

.topbox-column-center {
	display: inline-block;
}

.topbox-column-center-avatar {
	width: 200px;
	height: 200px;

	border-style: solid;
	border-radius: 50%;
	border-color: transparent;
}

.topbox-column-right {
	font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
	text-align: left;

	float: right;
	margin-top: 50px;
}

.topbox-footer {
	font-family: "Helvetica-Light", "Helvetica-Light", Helvetica, Arial, sans-serif;

	margin-top: 25px;
}

.bottombox {
	border-top: solid 1px #999999;

	width: 105%;
	height: 720px;

	position: relative;

	top: 193px;
	left: -3%;
	bottom: 0px;
	right: 0px;
}

.bottombox-text {
	color: #C5C5C5;

	font-size: 20px;
	font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;

	width: 750px;
	padding-top: 98px;
	margin: auto;

	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
}
}

div.bottombox-text a {
	color: #999999;
}
