body {
	font-family: 'Roboto', "HelveticaNeue", HelveticaNeue, Helvetica, Arial, sans-serif;
	font-weight: 400;
	background: #181817;

	min-width: 500px;
}

::selection {
	color: #CCCCCC;
	background: #8B8B8B;
}

::-moz-selection {
	color: #CCCCCC;
	background: #8B8B8B; 
}

a {
	text-decoration: none;

	opacity: 1.0;
	-o-transition: .26s ease-in-out;
	-ms-transition: .26s ease-in-out;
	-moz-transition: .26s ease-in-out;
	-webkit-transition: .26s ase-in-out;
	transition: .26s;
}

a:hover {
	text-decoration: inherit;
	opacity: 0.6;
}

a:visited {
	color: inherit;
}

.profile {
	font-size: 17px;
	text-align: left;
	color: #D8D8D8;

	opacity: 0.8;

	position: absolute;
	top: 20px;
	left: 50px;
	bottom: 10px;
	width: 200px;
}

img.avatar {
	width: 150px;
	height: 150px;
	border-radius: 50%;
}

.biography-container {
	font-weight: 300;

	position: absolute;
	top: 0px;
	left: 260px;
	right: 5px;
	bottom: 0px;

	min-width: 500px;

	overflow: scroll;
}

.biography {
	font-size: 18px;
	text-align: justify;
	color: #E0DFDA;

	padding-right: 50px;

	min-width: 360px;	
	max-height: 100%;
}

.biography a {
	color: #6E97EC;
}

