#showcase {
	position: relative;

	left: 0px;
	right: 0px;

	background: rgba(0, 0, 0, 0.1);
	padding-bottom: 40px;
}

#showcase-title {
	padding-top: 20px;
	margin-left: 60px;

	color: #373d55;

	font-weight: 600;
	font-size: 50px;

	text-align: center;
}

#showcase-title-divider {
	margin: 0px !important;
}

#showcase hr {
	margin: 20px;
	color: #373d55;
	border-style: solid;
	border-width: 1px;
}

#showcase-item {
	display: flex;
	position: relative;

	padding: 20px;
	margin-left: auto;
	margin-right: auto;

	width: 900px;
}

#showcase-disclosure-indicator {
	display: none;
	right: 0px;
	height: 20px;

	font-weight: 500;
	opacity: 0.5;

	color: #373d55;
	font-size: 100px;
}

#showcase-icon-container {
	position: relative;
	float: left;
	height: 100%;
}

#showcase-icon {
	width: 120px;
	height: 120px;

    vertical-align: middle;
	border-radius: 30px;
	margin-top: 40px;

	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

#showcase-icon:hover {
	box-shadow: 0px 0px 20px 5px rgba(144, 158, 180, 0.5);
}

#showcase-item p {
	margin-left: 30px;
	margin-top: 45px;
}

#showcase-text {
	float: left;
	width: 400px;

	text-align: left;
	font-size: 22px;
	font-weight: 300;
}

#showcase-role {
	float: left;
	width: 150px;

	margin-top: 0px;
	padding-left: 10px;

	text-align: left;
	font-size: 20px;
	font-weight: 500;
}

#showcase-availability {
	float: right;
	width: 100px;

	margin-top: 0px;
	padding-left: 0px;
	padding-right: 0px;

	text-align: left;
	font-size: 20px;
	font-weight: 300;
}