---
layout: main
---
{% for post in paginator.posts %}
<article class="post">
  {% if post.img %}
    <a class="post-thumbnail" style="background-image: url({{"assets/img/" | prepend: site.julian-site | append : post.img}})" href="{{post.permalink | prepend: site.julian-site}}"></a>
  {% else %}
  {% endif %}
  <div class="post-content">
    <h2 class="post-title" style="text-align:center;"><a href="{{ post.url | prepend: site.julian-site }}">{{post.title}}</a></h2>
    <p style="text-align: center;">{{ post.description }}</p>
    <span class="post-date">
      {% if post.tags %}
        <i class="fa fa-tag" aria-hidden="true"></i>&nbsp;{{ post.tags | array_to_sentence_string }}
      {% endif %}
      <br/>
      <i class="fa fa-clock-o" aria-hidden="true"></i>  {{post.date | date: '%Y'}}
    </span>
  </div>
</article>
{% endfor %}

{% include pagination.html %}
