/* Document Attributes */
html {
	min-width: 1000px;

	opacity: 0.0; /* animates in on load */
	margin-top: 200px;
}

body {
	margin: 0px;

	font-family: BlinkMacSystemFont, system, -apple-system, 'Roboto', "HelveticaNeue", HelveticaNeue, Helvetica, Arial, sans-serif;

	background: #373d55;
}

/* Base Attributes */
h1 {
	margin-top: 30px;
	margin-bottom: 35px;

	font-size: 50px;
	font-weight: 400;
	line-height: 0;
	color: #909eb4;
}

h2 {
	font-size: 25px;
	font-weight: 300;
	color: #909eb4;

	margin-top: -10px;
}

::selection {
	color: #CCCCCC;
	background: black;
}

::-moz-selection {
	color: #CCCCCC;
	background: black; 
}

a {
	text-decoration: none;
	color: #909eb4;
	cursor: pointer;

	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

a:hover {
	text-decoration: inherit;
}


/* Site Page (in order from top to bottom):
/* - Biography
/* -- Links
/* - Showcase (in its own css file)
/* - Github Contributions
/* - Extra Projects (w optional Project Separator) x3 
/* - Footer
/* - Sidebar (fixed)
/* Biography */

div.biography {
	padding-top: 70px;
	padding-bottom: 70px;
	color: #4a4a48;

	height: auto;
	display: block;

	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;

	font-weight: 300;
	font-size: 18px;
}

img.avatar {
	width: 100px;
	height: 100px;

	border-radius: 50%;

	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
}

/* Links */
.links {
	font-size: 26px;
	font-weight: 400;

	clear: both;
	position: relative;
	float: center;

	text-align: center;
	line-height: 1.7;

	margin-top: -10px;	
	margin-left: 0px;

	font-variant: small-caps;
}

.links a {
	cursor: pointer;
	position: relative;

	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;

	color: #373D55 !important;

	border-style: solid;
	border-color: #909eb4;
	border-width: 1px;
	border-radius: 8px;

	background: #909eb4;

	text-decoration: underline;
}

.links a.chevron {
	font-size: 100px;
	background-color: rgba(0,0,0,0);
	opacity: 0.2;
}

.links a:hover {
	opacity: 0.8;
	text-decoration: underline;
}

/* Github Contributions */
.github-contributions {
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;

	border-width: 10px;
	border-style: solid;
	border-color: #313749;
	border-radius: 0px;
	background-color: #909eb4;

	width: 500px;
	height: 100px;

	-webkit-animation: githubContributionsAnimation 4s infinite;
	-moz-animation: githubContributionsAnimation 4s infinite;
	-o-animation: githubContributionsAnimation 4s infinite;
	animation: githubContributionsAnimation 4s infinite;
}

.github-contributions img {
	padding: 10px;
	width: 100%;
	height: 100%;
	object-fit: contain;

	-webkit-filter: invert(0);
	filter: invert(0);
}

/* Github Contribution Animations */
@keyframes githubContributionsAnimation {
	0%   { opacity:1; }
	50%  { opacity:0.7; }
	100% { opacity:1; }
}
@-o-keyframes githubContributionsAnimation {
	0%   { opacity:1; }
	50%  { opacity:0.7; }
	100% { opacity:1; }
}
@-moz-keyframes githubContributionsAnimation {
	0%   { opacity:1; }
	50%  { opacity:0.7; }
	100% { opacity:1; }
}
@-webkit-keyframes githubContributionsAnimation {
	0%   { opacity:1; }
	50%  { opacity:0.7; }
	100% { opacity:1; }
}

/* Extra Projects */
.extraprojects {
	padding: 20px;
	padding-left: 65px;

	color: rgba(144, 158, 180, 0.5);
	font-size: 24px;
	text-align: left;

	line-height: 100px;
}

.projectseparator {
	border-width: 1px;
	border-style: solid;
	width: 50%;
	margin-top: 50px;
	margin-bottom: 50px;
	border-color: rgba(144, 158, 180, 0.1);
}

.extraprojects .projectgroup {
	text-align: left;
	color: rgba(144, 158, 180, 1.0);
	font-size: 20px;
	font-variant: none;
	margin-bottom: 0px;

	display: inline-block;
	line-height: normal;
}

.extraprojects .project-header {
	float: left;

	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	width: 100%;
}

.extraprojects .project {
	text-align: left;
	font-size: 18px;
	font-weight: 300;
	display: inline-block;

	padding: 5px;
	margin-bottom: 5px;
	margin-left: 0px;
	margin-right: 0px;
	line-height: 1.3;

	border-radius: 10px;
	border-style: solid;
	border-width: 1.0px;
	border-color: rgba(133, 158, 180, 0.5);

	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.extraprojects .project a {
	vertical-align: text-bottom;
	font-weight: 400;
	color: rgba(133, 158, 180, 1.0);
}

.extraprojects .project:hover {
	background-color: rgba(1,1,1,0.2);
}

/* Footer */
div.footer {
	position: relative;
	
	clear: both;
	float: center;
	
	line-height: normal;
	margin-top: 80px;
	margin-left: 0px;
	margin-right: 0px;

	text-align: center;
	color: #909eb4;
	font-size: 14px;
	opacity: 0.5;

	padding: 20px;
}

.footer a:hover {
	opacity: 0.5;
}

/* Sidebar */
.sidebar {
	position: fixed;

	left: 10px;
	top: 10px;

	color: white;
	opacity: 0.8;
}

.sidebar div {
	margin: 10px;
	text-align: center;
	font-size: 18px;

	cursor: pointer;

	border-left-color: white;
	border-left-width: 2px;
	border-left-style: solid;

	padding-left: 5px;
}

.sidebar div:hover {
	opacity: 0.5;
}

.sidebar div #selected {
	border-left-width: 4px;
}