
body {
	min-width: 700px;
	width: 100%;
	margin: 0px;

	font-family: 'AmericanTypewriter', system, -apple-system, BlinkMacSystemFont, "HelveticaNeue", HelveticaNeue, Helvetica, Arial, sans-serif;

	background: #00091b url('background-low.jpg') no-repeat fixed center;
    background-size: cover;
	color: white;


	/*animation:backgroundfade 10s;
    -moz-animation:backgroundfade 10s infinite;
    -webkit-animation:backgroundfade 10s infinite;*/
}

a {
	text-decoration: none;
	color: inherit;
}

.container {
	background-color: rgba(1,1,1,0.5);
}

/*
@-moz-keyframes backgroundfade {
	0%   {background:#00091b;}
	50%   {background:#000000;}
	100%   {background:#00091b;}
}

@-webkit-keyframes backgroundfade {
	0%   {background:#00091b;}
	50%   {background:#000000;}
	100%   {background:#00091b;}
}*/

.masthead {
	display: block;
	text-align: center;

	padding-top: 80px;
	margin-left: auto;
	margin-right: auto;

	line-height: normal;
}

.banner {
	width: 500px;
	height: 60px;
	display: block;

	text-align: left;

	margin-left: auto;
	margin-right: auto;

	margin-top: 50px;
	margin-bottom: 20px;

	font-size: 16px;
	line-height: 20px;
}

.banner img {
	float: left;

	width: 60px;
	height: 60px;

	margin-top: -5px;
	margin-right: 10px;
}

h1 {
	margin: 0px;

	font-size: 100px;
	font-weight: 600;
	letter-spacing: 0.8px;
	line-height: 80px;
}

h2 {
	margin: 0px;

	font-size: 30px;
}

.film {
	display: block;
	text-align: center;
}

.anchor {

}

.video {
	background-color: black;
	margin: 0px;

	box-shadow: rgba(255,255,255,0.5) 0px 0px 10px 5px;

	width: 560px;
	height: 315px;
}

.credits {
	margin-top: 50px;

	text-align: center;
}

.credits table {
	display: inline-block;

	margin-left: auto;
	margin-right: auto;
}

.credits td {
	padding-left: 20px;
	padding-right: 20px;
}

.creditheader {
	margin-top: 30px;
	margin-bottom: 10px;
}

.footer {
	font-size: 12px;
	text-align: center;
	opacity: 0.25;

	margin-top: 50px;
	padding-bottom: 20px;
}
